
                <% @shops.each do |shop| %>
                    <tr>
                    <td><%= shop.corporate_name %></td>
                    <td><%= shop.cnpj %></td>
                    <td><%= shop.address %></td>
                    <td><%= shop.city %> / <%= shop.state %></td>
                    <td><%= shop.manager %></td>
                    <td><%= link_to 'Editar', edit_shop_path(shop) %>
                        <%= button_to 'Apagar', shop_path(shop), method: :delete %></td>
                    </tr>
                <% end %>

