<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Lojas</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <%= image_tag 'ico_menu.png' %>
    </label>
    
    <nav class="menu">
        <ul>
            <li><a href="#">Visualizar Todas as Lojas</a>
            <li><a href="#">Visualizar Todos os Gerentes</a>
            <li><a href="#">Procurar por CNPJ</a>
            <li><a href="#">Procurar por Endereço</a>
            <li><a href="#">Procurar Cidade/Estado</a>
        </ul>
    </nav>

    <header class="navegation">
        <a href="#">Home</a>
        <a href="#">Noticias</a>
        <a href="#">Indique</a>
        <a href="#">Ajuda</a>
    </header>

    <main>
       <% @shops.each do |shop| %>
    <div>
        <div><%= shop.corporate_name %></div>
        <div><%= shop.cnpj %></div>
        <div><%= shop.address %></div>
        <div><%= shop.city %></div>
        <div><%= shop.state %></div>
        <div><%= shop.manager %></div>
        <%= link_to 'Editar', edit_shop_path(shop) %>
        <%= button_to 'Apagar', shop_path(shop), method: :delete %><br>
    </div>
    <% end %>
    </main>

    <footer>

    </footer>
</body>
</html>

