
        <h2> Cadastre Sua Loja Aqui </h2><br>

        <%= form_for Shop.new do |s|%>

        <% if @shop.errors.any? %>
            <span>Verifique os Campos Abaixo:</span>
            <ul>
            <% @shop.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        <% end %>

            <%= s.label :corporate_name, 'Razão Social'%><br>
            <%= s.text_field :corporate_name %><br>
            <%= s.label :cnpj, 'CNPJ'%><br>
            <%= s.number_field :cnpj%><br>
            <%= s.label :address, 'Endereço'%><br>
            <%= s.text_field :address%><br>
            <%= s.label :city, 'Cidade'%><br>
            <%= s.text_field :city%><br>
            <%= s.label :state, 'Estado'%><br>
            <%= s.text_field :state %><br>
            <%= s.label :manager, 'Gerente'%><br>
            <%= s.text_field :manager %><br>
            <%= s.submit 'Registrar'%>
        <% end %>
  