<!DOCTYPE html>
<html>
  <head>
    <title>Ecommercev2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/edge/stylesheets/locastyle.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="ls-list">
       <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
         <a href="#" >Adicione uma lojas</a>
         <small>Registre mais uma loja a sua lista  </small>
         </div>
         <div class="col-md-3 ls-txt-right">
         <%= link_to 'Administrar', new_shop_path, :class => "ls-btn-primary" %>
         </div>

         <div class="ls-list-title col-md-9">
         <a href="#" >Lista de Lojas</a>
         <small>Todas as lojas registradas e ativas  </small>
         </div>
         <div class="col-md-3 ls-txt-right">
         <%= link_to 'Administrar', shops_path, :class => "ls-btn-primary" %>
         </div>

         <div class="ls-list-title col-md-9">
         <a href="#" >Lista de Registros</a>
         <small>Histórico de todas as lojas registradas até o momento  </small>
         </div>
         <div class="col-md-3 ls-txt-right">
         <a href="#" class="ls-btn-primary">Administrar</a>
         </div>

         <div class="ls-list-title col-md-9">
         <a href="#" >Lista de Gerentes</a>
         <small>Todos os gerentes e as lojas relacionadas  </small>
         </div>
         <div class="col-md-3 ls-txt-right">
         <a href="#" class="ls-btn-primary">Administrar</a>
         </div>

         <div class="ls-list-title col-md-9">
         <a href="#" >Lista de Locais</a>
         <small>Todas as lojas por Cidade e Estado  </small>
         </div>
         <div class="col-md-3 ls-txt-right">
         <a href="#" class="ls-btn-primary">Administrar</a>
        </div>
     </header>
     </div>
    <%= yield %>
    <script src="//assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
  </body>
  
</html>
