<!DOCTYPE html>
<html>
  <head>
    <title>APP DO RODRIGO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
    <div><h1><strong>//</strong> APP DO RODRIS <strong>//</strong></h1></div>
    </header>
    <main>
      <%= flash[:notice] %></p>
      <%= flash[:alert] %></p>
      <%= yield %>
    </main>
  </body>
</html>
